* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}
input, button, select, textarea {
  font-family: "Nunito Sans", sans-serif;
} 
